* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 0;
    padding: 0;
    height: 40px;
}

button {
    margin: 0;
    padding: 0;
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.logo img {
    height: 53px;
}

#main-menu>li {
    float: left;
    font-weight: bold;
    padding: 16px 15px;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    transition: all 0.35s ease-in;
    cursor: pointer;

}

#main-menu li a {
    font-size: 15px;
    color: white;
    display: block;

}

#main-menu li:hover {
    background-color: rgb(253, 8, 0);
    border-bottom: 4px solid white;
    border-top: 4px solid rgb(253, 8, 0);
}


#login a {
    display: block;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(250, 1, 1);
    color: #fff;
    font-weight: bold;
    float: left;
    margin-left: 15px;
    font-size: 15px;
    transition: all 0.25s ease-in;
}

#login a:hover {
    transform: scale(1.1);
}

#timkiem {
    background-color: #fff;
    border-radius: 15px;
}

.thanhtim {
    padding: 10px 15px;
    border: none;
    outline: none;
    background: none;
    width: 250px;
    font-size: 15px;
}

.nuttim {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;

}

.nuttim p {
    font-size: 15px;
    transition: all 0.1s ease-in;
}

.nuttim:hover p {
    transform: scale(1.2);
    color: red;
}

#qc {
    max-width: 100%;
}

#qc img {
    width: 100%;


}

#main {
    width: 100%;
    background-color: rgb(238, 236, 236);
    padding: 20px 30px;
}

#phan-dau {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
    background-color: #fff;
}

#phan-dau img {
    height: 350px;
    filter: brightness(90%);
}
#main #phan-dau #qc-right img{
    filter: brightness(100%);

} 
#slider {
    border: 1px solid black;
    width: 50%;
}

#qc-right {
    width: 45%;
}

#qc-right img{
    width: 100%;
}

.gioithieu {
    width: 90%;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px 30px;
    padding-bottom: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.anh{
    width: 24%;
}

.anh img {
    width: 100%;
    border-radius: 15px;
}

.intro {
    width: 52%;
    margin: 0 15px;
}

.intro p {
    text-align: justify;
    padding-top: 15px;
    font-size: 17px;

}

.sanpham {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 0;


}

.sanpham>p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.sanpham img {
    width: 80%;
    margin-bottom: 10px;
}

.sanpham ul {
    margin: 0;
    display: flex;

}

.sanpham ul li {
    margin: 10px 10px;
    border-radius: 15px;
    padding: 15px 10px;
    border: 1px solid black;
    transition: all 0.15s ease-out;
}

.sanpham ul li a {
    display: block;
}

.sanpham ul li p {
    text-align: center;
    margin-bottom: 0;
    color: red;
}

.sanpham ul li a .ten {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.sanpham ul li a .danhgia {
    font-size: 20px;
    color: rgb(255, 217, 0);
}

.sanpham ul li a .gia {
    font-size: 15px;
    color: red;
}

.sanpham ul li:hover {
    transform: scale(1.05);
}

.timhieu {
    width: 20%;
    margin: 0 auto;

}

.timhieu a {
    display: block;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

#why {
    padding: 20px 0;
    border-radius: 15px;
    width: 100%;
    background-color: #fff;

}

#why>p {
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
    width: 25%;
    margin-bottom: 20px;

}

.group {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.chatluong {
    width: 100%;

}

.hethong {
    width: 100%;

}

.trongoi {
    width: 100%;

}

.tieude {
    font-weight: bold;
    margin-top: 15px;
}

.noidung {
    padding: 0 20px;
    font-size: 15px;
}

#footer {
    max-width: 100%;
    background-color: rgb(219, 219, 219);
    padding: 25px 0;
    text-align: center;
}

#footer1 {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#footer1 p {
    margin-bottom: 5px;
}

.dau {
    font-size: 15px;
    font-weight: bold;
}

#footer a {
    color: black;
    cursor: pointer;
    font-size: 15px;
}

.hotline {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

#footer #footer1 #thongtin-shop {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#footer #footer1 #thongtin-shop a {
    display: inline-block;
    color: rgb(0, 132, 255);
    font-size: 30px;
    margin: 10px 15px;
}
#xemthem {
    margin: 0 auto;
    width: 25%;
}

#xemthem ul li #empty {
    border: none;
}

#xemthem ul li a {
    color: black;
    display: block;
    cursor: pointer;
    background-color: white;
    padding: 10px 15px;
    border-radius: 2px;
}

#xemthem ul li:hover a {
    background-color: red;
    color: white;
}

#xemthem ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}